
photowrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.image{
    margin: 20px;
    width: 250px;
    height: 250px;
}

.button{
    justify-self:center;
    margin-left: 42%;
    background-color: rgb(185, 13, 13);
    margin-left: 40%;
    color: wheat;
    padding: 10px 20px ;
    font-size: 10px;
    border-radius: 20%;
} 